@model Category
@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <form asp-action="Edit" method="post">

                <div class="form-group">
                    <label asp-for="Name" for="Title1">Title2</label>
                    <input asp-for="Name" name="Name" type="text" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>

                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
